.about_us{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-position-y: -20vh ;
}

.about_us_head{
    background-color: #1E2031;
    display: flex;
    flex-direction: row;
    height: 44vh;
    width: 87.5vw;
    border-radius: 3.5vh;
    justify-content: center;
}

.line{
    width: 0.3vw;
    height: 16vh;
    background-color: #FFFFFF;
    border-radius: 1vh;
    margin-top: 20vh;
}

.about_us_box-1{
    width: 22vw;
    display: flex;
    flex-direction: column;
    border-radius: 3.5vh;
    height: 100%;
    width: 100%;
    cursor: pointer;
    transition: all 0.2s ease-out;
}
.about_us_box-1:hover{
    background-color: #713EDA;
    height: 120%;
    width: 110%;
    position: relative;
    top: -5vh;
}

.about_us_box-1 .about_us_image{
    display: flex;
    padding-right: 20vh;
    margin-top: 5.5vh;
}

.about_us_box-1 img{
    height: 15vh;   
}

.about_us_head .about_us_box-1 .heading-2{
    margin-left: 6vh;
    color: #FFFFFF;
    font-size: 4vh;
    margin-top: 1vh;
    font-family: 'League Spartan', sans-serif;
}


.about_us_head .about_us_box-1 .paragraph{
    margin-left: 6vh;
    color: #FFFFFF;
    font-size: 2.5vh;
    /* margin-top: vh; */
    width: 18.6vw;
    font-family: "baloo 2";
    line-height: 25px;
    width: 70%;
}

.about_us_learnmore{
    padding-left: 6vh;
    color: #FFFFFF;
    text-decoration: none;
    margin-top: 1vh;
    font-family: "baloo 2";
}