.contact-page{
    width: 100vw;
    height: 100vh;
    background-image: url("../images/contact-bg.jpg");
    background-size: 95%;
    /* /* background-position-x: 4vw; */
    background-position-y: 7vh;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}
.contact-page h1{
    font-family: "baloo 2";
    font-size: 36px;
    margin-top: 10vh;
    color: #222;
}

.contact-page h2{
    font-family: "baloo 2";
    font-size: 19px;
    margin-top: 1vh;
    letter-spacing: 0.5px;
    color: #999;
}

.contact-form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contact-page .input-1{
    height: 9vh;
    width: 36vw;
    margin-top: 7vh;
    border: 1.5px solid #777;
    border-radius: 7px;
}

.contact-page .input-2{
    height: 9vh;
    width: 36vw;
    margin-top: 3vh;
    border: 1.5px solid #777;
    border-radius: 7px;
}

.contact-page .input-3{
    height: 33vh;
    width: 36vw;
    margin-top: 3vh;
    border: 1.5px solid #777;
    border-radius: 7px;
}
.contact-page .input-1::placeholder , .input-2::placeholder , .input-3::placeholder{
    font-family: "baloo 2";
    font-size: 20px;
    padding-left: 10px;
    padding-top: -20px;
    font-style: italic;
}

.submit-btn{
    height: 8vh;
    width: 10vw;
    border-radius: 30px;
    margin-top: 5vh;
    background-color: #fcc22d;
    border: none;
    font-size: 15px;
    color: #fff;
    cursor: pointer;
}